html {
  background-color: #0C0F0A;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5vw;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 90vw;
  height: 10%;
  font-family: 'Outfit-Bold', sans-serif;
  font-size: 1.5vw;
}

.navbar-left a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
}

.nav-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-items li {
  padding: 10px;
}

.nav-items li a {
  color: #fff;
  text-decoration: none;
}

.nav-items li a:hover {
  text-decoration: underline;
}

#about, #projects, #contactForm {
  height: 100vh;
  width: 100vw;
}

#home {
  color: #fff;
  height: 80vh;
  width: 100vw;
  font-family: 'Outfit-Bold', sans-serif;
}

#home, #projects, #contact-form {
  color: #fff;  
}

.about-button {
  background-color: #7731E9;
  color: #fff;
  border: none;
  border-radius: 2rem 2rem;
  font-family: 'Outfit-Medium', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 2vh 2vw;
  margin: 1vh 0vw;
  text-decoration: none;
}

.hero-text {
  padding-top: 20vh;
  padding-left: 10vh;
  margin-bottom: 0;
  overflow: break-word;
}

.highlighted-hero-text {
  margin-top: 0;
}

.highlighted {
  color: #7731E9;
}

#about {
  background-color: #ffffffad;
}

.about-header {
  padding-top: 5vh;
  padding-left: 10vh;
}

@media (max-width: 768px) {
  h1 {
    font-size: 6vw;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 10vw;
  }
}