html {
  background-color: #0C0F0A;
  scroll-behavior: smooth;
  color: #fff;
}

h1 {
  font-size: 6rem;
  margin: 0;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 85vw;
  padding-top: 2vh;
  height: 10%;
  font-size: 2rem;
  justify-content: space-between;
  z-index: 1000;
}

.navbar-left a {
  color: #fff;
  text-decoration: none;
  font-family: 'Outfit-Bold', sans-serif;
}

.navbar-right {
  display: flex;
  font-family: 'Outfit-Medium', sans-serif;
}

.nav-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-items li {
  padding: 20px;
}

.nav-items li a {
  color: #fff;
  text-decoration: none;
}

.nav-items li a:hover {
  text-decoration: underline;
}

#home {
  height: 65vh;
  width: 85vw;
  position: relative;
}

.circle {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.circle-1 {
  content: "";
  position: absolute;
  top: 50%; 
  left: -40%; 
  width: 50%; 
  height: 50%; 
  background-color: #b831e95d; 
  border-radius: 50%; 
  filter: blur(50px); 
  z-index: -1; 
}

.circle-2 {
  content: "";
  position: absolute;
  top: -20%; 
  left: 0%; 
  width: 40vw; 
  height: 40vw; 
  background-color: #008a9c79; 
  border-radius: 50%; 
  filter: blur(100px); 
  z-index: -1; 
}

.circle-3 {
  content: "";
  position: absolute;
  top: 20%; 
  left: 80%; 
  width: 40vw; 
  height: 50vw; 
  background-color: #7831e98c; 
  border-radius: 50%; 
  filter: blur(100px); 
  z-index: -1; 
}

.hero-text {
  color: #fff;
  font-family: 'Outfit-Bold', sans-serif;
  padding-top: 30vh;
  padding-bottom: 5vh;
  padding-left: 10vh;
  padding-right: 5vh;
  overflow: break-word;
}

.highlighted-hero-text {
  margin-bottom: 5rem;
}

.about-button {
  background-color: #7731E9;
  color: #fff;
  border: none;
  font-family: 'Outfit-Medium', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 2rem 2rem;
  margin-top: 5rem;

  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 1rem 1.5rem;
  margin: 1vh 0vw;
}

.highlighted {
  color: #7731E9;
}

#about, #projects, #contact-form {
  height: 100vh;
  width: 100vw;
}

#about {
  background-color: #ffffffad;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .navbar {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  .navbar {
    font-size: 1.2rem;
  }

  .hero-text {
    padding-left: 10vw;
  }
}

@media (max-width: 305px) {
  h1 {
    font-size: 3rem;
  }

  .navbar {
    font-size: 1.2rem;
    overflow: scroll;
  }

  .hero-text {
    padding-top: 20vh;
    height: 90vh;
    margin-bottom: 0rem;
  }

  .highlighted-hero-text {
    margin-bottom: 2rem;
  }
}